.head {  
    background-color: white;
    border-radius: 40px;
    width: 95%;
    margin-top: 30px;
    border: 1px;
    height: 55px;
}
body{
    background-color:  #F6F6F6;
    width: 95%;
    margin: auto;
}
.logo-left{
  padding-left: 40px;
  font-size: 5px;
  padding-top: 10px;
  justify-content: space-between;
  float: left;
  cursor: pointer;
}
.logo-right{
  padding-right: 40px;
  -o-border-redius:100% ;
  border: 1px;
  padding-top: 5px;
  float: right;
}
.main-saction{
  margin-top: 10px;
    height: 500px;
    background-color:#F9F9F9;
    display: block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.Contact button{ 
  float: left;
  background-color: #025B5B;
  color: white;
  margin-top:60px;
  margin-right: 8px;
  padding: 15px 50px;
  font-size: 30px;
  border: 1px;
  border-radius:50px ;
  -webkit-border-radius:50px ;
  -moz-border-radius:50px ;
  -ms-border-radius:50px ;
  -o-border-radius:50px ;
  
 
}
.company  {
  width: 50%;
    height: 500px;
    float: left;
    
}





.text h1{
  font-size: 50px;
color: black;
width: auto;
float: left;
margin-top: 40px;
}
.text p{
  font-size: 25px;
float: right;
margin-top:50px ;
color:black;
}
.left-main-section{
  width: 50%;
  float: right;
  z-index: 1;
  }
  .up-photo-section img{
      width: 500px;
      height: 220px;
      nav-down: 800px;
      border: 1px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-top-left-radius: 100%;
      position: relative;
      z-index: 1;
      margin-left:150px ;
  }
  .down-photo-section img{
      width: 500px;
      height: 220px;
      
      margin-left:150px ;
      border: 1px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      position: relative;
      nav-down: 600px;
  }
  .p2-on-photo{
  position: absolute;
  top: 390px;
  left: 950px;
  color: white;
  font-size: 40px;
  }
  .black-circle i{
        background-color: black;
        color: #9ABDBD;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        font-size: 40px;
        position: absolute;
        top: 130px;
        left: 1050px;
        z-index: 2;
        
  }
  .secand-section h1{
   
    color: black;
    margin-top: 3px;
    padding-bottom: 5px;

  }
  .element-top{
    display: flex;
  flex-direction: row;
  
  margin-right:10px ;
  position: relative;
  height: 350px;
  }
  .element{
    background-color: white;
    border-radius: 40px;
    width: 22%;
    margin-top: 80px;
    border: 1px;
    height: 290px;
    margin-bottom: 10px;
    margin: 45px 5px 0px 50px;
   padding-left: 5px;
   padding-right: 10px;
   margin-left: 120px;
}
.secand-section p{
  color: rgb(147, 149, 149);
}
.element img{
  right: 10px;
}
.element h3{
  margin-bottom: 3px;
  font-size: 25px;
 right: 10px;
}
.element-middle img{
  right: 10px;
}
.element-middle h3{
  margin-bottom: 3px;
  font-size: 25px;
 right: 10px;
}
.element-middle{
  display: flex;
  flex-direction: row;
  
  margin-right:10px ;
  position: relative;
  height: 390px;
}
.middle{
  background-color: white;
  border-radius: 40px;
  width: 22%;
  margin-top: 80px;
  border: 1px;
  height: 290px;
  margin-bottom: 10px;
  margin: 60px 5px 0px 50px;
 padding-left: 5px;
 padding-right: 10px;
 margin-left: 120px;
}
.element-down img{
  right: 10px;
}
.element-down h3{
  margin-bottom: 3px;
  font-size: 25px;
 right: 10px;
}
.element-down{
  display: flex;
  flex-direction: row;
  
  margin-right:10px ;
  position: relative;
  height: 390px;
}
.down{
  background-color: white;
  border-radius: 40px;
  width: 22%;
  margin-top: 80px;
  border: 1px;
  height: 290px;
  margin-bottom: 10px;
  margin: 60px 5px 0px 50px;
 padding-left: 5px;
 padding-right: 10px;
 margin-left: 120px;
}
.next-section h1{
   
  color:black;
  margin-top: 3px;
  padding-bottom: 5px;

}
.next-section p{
  color: rgb(147, 149, 149);
}
.element-in{
  display: flex;
  flex-direction: row;
  
  margin-right:10px ;
  position: relative;
  height: 390px;
}
.in pre{
  float: right;
  color: rgb(147, 149, 149);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right:10px;
  
}
.in{
  background-color: white;
  border-radius: 40px;
  width: 25%;
  margin-top: 80px;
  border: 1px;
  height: 290px;
  margin-bottom: 10px;
  margin: 60px 5px 0px 50px;
 padding-left: 5px;
 padding-right: 10px;
 margin-left: 120px;
}
.element-in h3{
  
    margin-bottom: 3px;
    font-size: 25px;
   right: 10px;
  
}

.in button{
  float: right;
  background-color: white;
  border: 3px solid #025B5B;

  color: #025B5B;
  margin-top:30px;
  margin-right: 8px;
  padding: 10px 40px;
  font-size: 20px;
  
  border-radius:50px ;
  -webkit-border-radius:50px ;
  -moz-border-radius:50px ;
  -ms-border-radius:50px ;
  -o-border-radius:50px ;
    
}
.in button final-arrow {
  float: right;
  background-color: #025B5B;
  border: 3px solid #025B5B;

  color:white;
  margin-top:30px;
  margin-right: 8px;
  padding: 10px 40px;
  font-size: 20px;
  
  border-radius:50px ;
  -webkit-border-radius:50px ;
  -moz-border-radius:50px ;
  -ms-border-radius:50px ;
  -o-border-radius:50px ;
}
.final-section h1{
   
  color:black;
  margin-top: 3px;
  padding-bottom: 5px;

}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.top-final{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}
.top-final:nth-child(2n){
  justify-content: end;
}
.top-final label{
  color: black;
  width: 95%;
  margin:5px 0;
  float: right;
  font-weight: bold;
}
.top-final input{
  height: 60px;
  width: 95%;
  padding: 0 10px;
  border-radius: 20px;
  border: 3px solid #025B5B;
}
.container-bottum label{
  color: black;
  width: 95%;
  margin:5px 0;
  font-weight: bold;
}
.container-bottum textarea{
  height: 360px;
  width: 95%;
  padding: 0 10px;
  border-radius: 20px;
  border: 3px solid #025B5B;

}
.button-right button{
  display: inline-flex;
  height: 20px;
  background-color: #025B5B;
  width: 250px;
  font-family: 'Quicksand',sans-serif;
  margin-top:70px;
  margin-right: 8px;
  padding: 70px 40px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius:50px ;
  cursor: pointer;
  
}
.button-right span{
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
  font-weight: bold
}
.black-section{
  background-color: black;
  background-image: linear-gradient(to right, #4b4d4c 30%, #000000 100%);
  border-radius: 50px;
  height: 300px;
 
  
}
.black-section h1{
  color: white;
  margin-bottom: 40px;
  padding-top: 110px;
  margin-left: 70px;
}

  

.black-section button{
  float: right;
  background-color: #025B5B;
  border: 3px solid #025B5B;

  color:white;
  margin-top:30px;
  margin-right: 10px;
  padding: 15px 20px;
  margin-bottom: 5px;
  font-size: 20px;
  
  border-radius:50px ;
  -webkit-border-radius:50px ;
  -moz-border-radius:50px ;
  -ms-border-radius:50px ;
  -o-border-radius:50px ;
  font-weight: bold;
}
footer{
  margin-top: 70px;
}

.right{
  margin-left: 800px;
}

.photo{
  direction: rtl;
  display: flex;
  justify-content: space-around;
}

.center{
  margin-top: -250px;
  margin-left: 500px;
}

.center h1{
  font-family: cairo;
  margin-right: 70px;
  font-size: 20px;
}

.left{
  margin-top: -150px;
  margin-left: 200px;
}

.left h1{
  font-family: cairo;
  margin-right: 70px;
  font-size: 18px;
}